Repository lovesegfault/cv: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, chktex, nixpkgs-fmt, nix-linter

latexindent:
  name: latexindent
  description: Latexindent.pl by Chris Hughes
  entry: latexindent -l -s -m -w -o /tmp/bak.tex
  language: system

chktex:
  name: chktex
  description: Chktex semantic checker
  entry: chktex
  language: system

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

ci: use determinate flake updater
  .github/workflows/update-flakes.yaml
Due: none

ci: update cd actions
  .github/workflows/cd.yaml
Due: none

ci: update actions
  .github/workflows/ci.yaml
Due: none

ci: fix id in update-flake
  .github/workflows/update-flakes.yaml
Due: none

chore(flake): pre-commit-hooks.nix -> git-hooks.nix
  flake.lock
  flake.nix
Due: nixpkgs-fmt, nix-linter

refactor: move to nixfmt
  flake.nix
Due: nixpkgs-fmt, nix-linter

fix: chktex errors
  cv.tex
Due: latexindent, chktex

refactor: revamp build, update aws job title
  .chktexrc
  .gitattributes
  .gitignore
  .latexindent.yaml
  .latexmkrc
  Makefile
  cv.tex
  flake.lock
  flake.nix
  images/profilpicture.jpg
Due: latexindent, chktex, nixpkgs-fmt, nix-linter

ci: manually enable lfs
  .github/workflows/ci.yaml
Due: none

ci: use git+ssh flake fetcher
  .github/workflows/ci.yaml
Due: none

ci: use git+https flake fetcher
  .github/workflows/ci.yaml
Due: none

ci: use rev query in flake url
  .github/workflows/ci.yaml
Due: none

ci: correctly split http query fields
  .github/workflows/ci.yaml
Due: none

ci: don't duplicate repo name in flake url
  .github/workflows/ci.yaml
Due: none

style: fmt cv.cls
  cv.cls
Due: none

feat: add Anthropic experience
  cv.tex
Due: latexindent, chktex

feat!: migrate from LaTeX to Typst
  .chktexrc
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .gitignore
  .latexindent.yaml
  .latexmkrc
  Makefile
  content.typ
  cv-html.typ
  cv.cls
  cv.tex
  cv.typ
  flake.nix
Due: latexindent, chktex, nixpkgs-fmt, nix-linter

fix: update Rust experience from 5+ to 8+ years
  content.typ
Due: none

Path conditions:
  latexindent: any of: \.tex$
  chktex: any of: \.tex$
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$
