Repository lovesegfault/cv: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, chktex, nixpkgs-fmt, nix-linter

latexindent:
  name: latexindent
  description: Latexindent.pl by Chris Hughes
  entry: latexindent -l -s -m -w -o /tmp/bak.tex
  language: system

chktex:
  name: chktex
  description: Chktex semantic checker
  entry: chktex
  language: system

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

chore(nix): update flake inputs
  flake.lock
Due: none

refactor(cv): add Google and AWS
  cv.tex
Due: latexindent, chktex

chore(flake/nixpkgs): 749458e7 -> 17ff1e6c
  flake.lock
Due: none

refactor: Berkeley -> Brooklyn
  cv.tex
Due: latexindent, chktex

refactor: update picture
  images/profilpicture.jpg
Due: none

refactor: minor rewordings
  cv.tex
Due: latexindent, chktex

ci: split ci/cd
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
Due: none

refactor: use pre-commit-config.yaml
  .gitignore
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: nixpkgs-fmt, nix-linter

ci: lint -> check
  .github/workflows/ci.yaml
Due: none

fix: add pre-commit tools to devShell too
  flake.nix
Due: nixpkgs-fmt, nix-linter

ci: add cachix-push step
  .github/workflows/ci.yaml
Due: none

ci: fix try to make upload conditional on ref
  .github/workflows/ci.yaml
Due: none

ci: try to inherit secrets during workflow_call
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
Due: none

ci: don't rely on the result symlink
  .github/workflows/ci.yaml
Due: none

chore(flake/pre-commit): 60cad1a3 -> 2e4a7089
  flake.lock
Due: none

refactor(flake): use upstream pre-commit actionlint, chktex, and latexindent
  flake.nix
Due: nixpkgs-fmt, nix-linter

chore(flake/flake-utils): c0e246b9 -> 4022d587
  flake.lock
Due: none

chore(flake/gitignore): a20de23b -> 43e1aa13
  flake.lock
Due: none

chore(flake/pre-commit): 2e4a7089 -> 9d3d7e18
  flake.lock
Due: none

chore(flake/nixpkgs): b78c3a22 -> 59fa082a
  flake.lock
Due: none

chore(flake): update inputs
  flake.lock
  flake.nix
Due: nixpkgs-fmt, nix-linter

feat: update info for 2023
  .czrc
  .envrc
  Makefile
  cv.cls
  cv.tex
Due: latexindent, chktex

fix: don't reference build/ dir in makefile
  Makefile
Due: none

ci: update actions
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
Due: none

ci: check -> show
  .github/workflows/ci.yaml
Due: none

chore(flake/flake-utils): 4022d587 -> 1ef2e671
  flake.lock
Due: none

chore(flake/pre-commit): 9d3d7e18 -> f56597d5
  flake.lock
Due: none

chore(flake/nixpkgs): 7a7cfff8 -> b4ee3c3c
  flake.lock
Due: none

chore(flake/gitignore): 43e1aa13 -> 637db329
  flake.lock
Due: none

chore(flake/flake-utils): 1ef2e671 -> b1d9ab70
  flake.lock
Due: none

chore(flake/pre-commit): f56597d5 -> e611897d
  flake.lock
Due: none

chore(flake/nixpkgs): b4ee3c3c -> fc7ec5e3
  flake.lock
Due: none

chore(flake/flake-utils): 1ef2e671 -> 11707dc2
  flake.lock
Due: none

chore(flake/pre-commit): f56597d5 -> dcf50727
  flake.lock
Due: none

chore(flake/nixpkgs): b4ee3c3c -> a4b6cee9
  flake.lock
Due: none

Path conditions:
  latexindent: any of: \.tex$
  chktex: any of: \.tex$
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$
